/* Temp */

body {
    background: #f1f1f1
}

#main-container {
    width: 100%;
    height: 100%;
    background: url(../images/Meteor_Shower.jpg) no-repeat;
    background-size: cover;
    transition: background 2s ease-in-out;
    -moz-transition: background 2s ease-in-out;
    -webkit-transition: background 2s ease-in-out;
    -o-transition: background 2s ease-in-out;
    overflow: hidden;
    display: none
}

#main-container_m {
    width: 100%;
    height: 100%;
    background: url(../images/Meteor_Shower.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Reset Yuko.css */
.yuko-page-container {
    /* overflow-y: auto !important; */
}

/* Header Css Start*/

#header {
    height: 90px;
    background: rgba(4, 31, 60, .7)
}

#header>div {
    width: 1200px;
    margin: 0 auto
}

#header-logo {
    width: 300px;
    height: 90px;
    background: url(../images/ryougi_logo.png) no-repeat 0 60%;
    background-size: 80%;
    float: left;
}

#header-logo>a {
    display: block;
    width: 100%;
    height: 90px;
}

#header-nav,
#header-nav>ul {
    height: 100%;
}

#header-nav li,
#header-nav a {
    text-align: center;
    color: #f1f1f1;
}

#header-nav>ul>li {
    width: 120px;
    height: 100%;
    position: relative;
    line-height: 90px;
    font-size: 48px;
    float: left;
    cursor: pointer;
    transition: width ease .3s
}

#header-nav a {
    width: 100%;
}

#header-nav>ul>li:hover {
    background: rgba(255, 255, 255, 0.1);
    width: 240px;
}

#header-nav>ul>li:hover>.header-nav-level2 {
    display: block;
    transition: opacity .3s;
    transition-delay: .1s;
    -moz-transition: opacity .3s;
    -moz-transition-delay: .1s;
    -webkit-transition: opacity .3s;
    -webkit-transition-delay: .1s;
    -o-transition: opacity .3s;
    -o-transition-delay: .1s;
    opacity: 1.0;
}

.header-nav-level2>li>a:hover {
    color: rgb(33, 150, 243)
}


/* Main Css Start*/

#main {
    /* margin-top: 90px; */
    height: calc(100% - 150px)
}

#main>div {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}


/* Footer Css Start*/

#footer {
    background: rgba(4, 31, 60, .7);
    height: 60px;
}

#footer>div {
    width: 50%;
    height: 100%;
    text-align: right;
    color: #f1f1f1;
}

#footer>.footer-contact {
    float: right;
    text-align: left;
}

.header-nav-level2 {
    width: 240px;
    position: absolute;
    left: 0;
    top: 120px;
    background: rgba(4, 31, 60, .7);
    overflow: hidden;
    display: none;
    transition: top ease .3s;
    transition: opacity ease .3s;
}

.header-nav-level2>li {
    width: 50%;
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    float: left;
}

.header-nav-level2>li:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.header-nav-level2>li>a:hover {
    color: rgb(33, 150, 243)
}


/* Main Css Start*/

#main {
    margin-top: 90px;
    height: calc(100% - 150px);
    overflow-y: scroll;
}

#main>div {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden
}


/* Footer Css Start*/

#footer {
    background: rgba(4, 31, 60, .7);
    height: 60px;
}

#footer>div {
    width: 50%;
    height: 100%;
    text-align: right;
    color: #f1f1f1;
}

#footer>.footer-contact {
    float: right;
    text-align: left;
}