/* Temp */

body {
    background: #f1f1f1
}

#main-container {
    width: 100%;
    height: 100%;
    background: url(../images/Meteor_Shower.jpg) no-repeat;
    background-size: cover;
    transition: background 2s ease-in-out;
    -moz-transition: background 2s ease-in-out;
    -webkit-transition: background 2s ease-in-out;
    -o-transition: background 2s ease-in-out;
    overflow: hidden;
}

#main-container_m {
    width: 100%;
    height: 100%;
    background: url(../images/Meteor_Shower.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Reset Yuko.css */
#yuko-header,footer {
    background: rgba(4, 31, 60, .7) !important;
} 
.yuko-content.yuko-page {
    background: none !important;
}
#yuko-main-content {
    background: rgba(238, 238, 238, .7) !important;
}
#yuko-nav-title {
    border-bottom: 1px solid #e2e2e2;
}
/* .yuko-card_container {
    background: rgba(255,255,255, .5) !important;
}
.yuko-card_container .yuko-card_content {
    color: #333333 !important;
}
.yuko-card_container .yuko-card_avatar {
    background: url(../images/Meteor_Shower.jpg) no-repeat;
} */
/* Header Css Start*/

#header {
    height: 90px;
    background: rgba(4, 31, 60, .7);
    position: relative;
    z-index: 10;
}

#header>div {
    width: 1200px;
    margin: 0 auto
}

#header-logo {
    width: 300px;
    height: 90px;
    background: url(../images/ryougi_logo.png) no-repeat 0 60%;
    background-size: 80%;
    float: left;
}

#header-logo>a {
    display: block;
    width: 100%;
    height: 90px;
}

#header-nav,
#header-nav>ul {
    height: 100%;
}

#header-nav li,
#header-nav a {
    text-align: center;
    color: #f1f1f1;
}

#header-nav>ul>li {
    width: 120px;
    height: 100%;
    position: relative;
    line-height: 90px;
    font-size: 48px;
    float: left;
    cursor: pointer;
    transition: width ease .3s;
    user-select: none;
}

#header-nav a {
    width: 100%;
}

#header-nav>ul>li:hover {
    background: rgba(255, 255, 255, 0.1);
    width: 240px;
}

#header-nav>ul>li:hover>.header-nav-level2 {
    display: block;
    transition: opacity .3s;
    transition-delay: .1s;
    -moz-transition: opacity .3s;
    -moz-transition-delay: .1s;
    -webkit-transition: opacity .3s;
    -webkit-transition-delay: .1s;
    -o-transition: opacity .3s;
    -o-transition-delay: .1s;
    opacity: 1.0;
}

.header-nav-level2>li>a:hover {
    color: rgb(33, 150, 243)
}


/* Main Css Start*/

#main {
    /* margin-top: 90px; */
    height: calc(100% - 150px)
}

#main>div {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}

#main .main-content {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, .14), -5px 0px 20px 0 rgba(0, 0, 0, .14), 5px 0px 20px -2px rgba(0, 0, 0, .2), 0px 5px 20px 0px rgba(0, 0, 0, .12);
    margin: 30px; 
    overflow: hidden;
    border-radius: 4px;
}
#main .main-content.main-content_announce {
    height: 180px;
}
#main .main-to_top {
    position: fixed;
    bottom: 110px;
    right: 50px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: rgb(33, 150, 243);
    cursor: pointer;
    user-select: none;
}
#main .main-to_top:hover {
    background: rgba(33, 150, 243, .8);
}
/* Footer Css Start*/

#footer {
    background: rgba(4, 31, 60, .7);
    height: 60px;
}

#footer>div {
    width: 50%;
    height: 100%;
    text-align: right;
    color: #f1f1f1;
}

#footer>.footer-contact {
    float: right;
    text-align: left;
}

.header-nav-level2 {
    width: 240px;
    position: absolute;
    left: 0;
    top: 120px;
    background: rgba(4, 31, 60, .7);
    overflow: hidden;
    display: none;
    transition: top ease .3s;
    transition: opacity ease .3s;
}

.header-nav-level2>li {
    width: 50%;
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    float: left;
}

.header-nav-level2>li:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.header-nav-level2>li>a:hover {
    color: rgb(33, 150, 243)
}


/* Main Css Start*/

#main {
    height: calc(100% - 150px);
    overflow-y: scroll;
}

#main>div {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden
}


/* Footer Css Start*/

#footer {
    background: rgba(4, 31, 60, .7);
    height: 60px;
    top: auto !important;
}

#footer>div {
    width: 50%;
    height: 100%;
    text-align: right;
    color: #f1f1f1;
}

#footer>.footer-contact {
    float: right;
    text-align: left;
}