/* ScrollBar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(33, 150, 243);
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    -ms-overflow-style:none !important;
    overflow:-moz-scrollbars-none !important;
}

/* Navigation */

.nav-hover_in {
    width: 240px !important;
}