/* Global */
.yuko-docs .yuko-material-icons {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
}
.yuko-docs .yuko-material-icons .material-icons {
    line-height: inherit;
}
.yuko-docs .yuko-material-icons:active {
    background: rgba(255,255,255,0.2);
}
.yuko-docs .yuko-material-icons:focus {
    background: rgba(255,255,255,0.2);
}

/* Main Container css S */

.yuko-docs #yuko-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Main Container css E */


/* Header css S */

.yuko-docs #yuko-header {
    display: flex;
    float: left;
    width: 100%;
    height: 56px;
    background: #3f51b5;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: fixed;
    top: 0;
    z-index: 1;
}

.yuko-docs #yuko-header .yuko-nav-title {
    border: none;
    color: #ffffff;
    padding: 0 12px;
}

.yuko-docs #yuko-header .yuko-search {
    color: #fff;
}

.yuko-docs .yuko-material-button {
    width: 56px;
    color: white;
    text-align: center;
}

.yuko-docs #yuko-header .yuko-material-icons {
    margin: 12px 0;
}

/* Header css E */


/* Drawer css S */

.yuko-docs #yuko-nav-drawer-button {
    width: 56px;
    color: white;
    text-align: center;
    padding: 16px 0;
}

.yuko-docs #yuko-nav-drawer-container {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

.yuko-docs #yuko-nav-drawer {
    position: fixed;
    width: 80%;
    height: 100%;
    left: -80%;
    color: #111;
    z-index: 2
}

.yuko-docs #yuko-nav-list {
    width: calc(100% - 10px);
    height: 100%;
    text-indent: 16px;
    background: #f1f1f1;    
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.yuko-docs #yuko-nav-list::-webkit-scrollbar {
    display: none;
}

.yuko-docs #yuko-nav-white {
    float: right;
    width: 10px;
    height: 100%;
    background: none;
}

.yuko-docs .yuko-nav-title {
    font-size: 20px;
    line-height: 56px;
    display: block;
    width: 100%;
    height: 56px;
}

.yuko-docs .yuko-nav-item {
    position: relative;
    line-height: 56px;
    display: block;
    width: 100%;
    height: 56px;
    text-decoration: none;
    overflow: hidden;
    color: #777;
}

.yuko-docs .yuko-nav-item:hover {
    background-color: #e0e0e0;
}

.yuko-docs .yuko-nav-item.item-selected {
    background-color: #e0e0e0;
}


/* Drawer css E */

/* Main css S */


/* Main Content css S */

.yuko-docs .yuko-content {
    
    width: 100%;
    
    
    font-weight: 800;
    
}

.yuko-docs .yuko-page-container {
    overflow: hidden;
    
    width: 100%;
    float: left;
    margin: 56px auto 0 auto;
    
}

.yuko-docs .yuko-page-container.fullscreen {
    margin: 0 !important;
    top: 0 !important;
    height: 100% !important;
}

.yuko-docs .yuko-page {
    position: absolute !important;
    display: block;
    
    overflow-x:hidden;  
}

/* Main Content css E */


/* Main css E */


/* Footer css S */

.yuko-docs #main-container footer {
    display: block;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 56px;
    font-size: 14px;
    background: #3f51b5;
    color: #FFFFFF !important;
    text-align: center;
    overflow: hidden;
}

.yuko-docs footer > div {
    height: 28px;
    line-height: 28px;
    width: 100%;
}

.yuko-docs footer a {
    color: #FFFFFF;
    font-style: italic
}


/* Footer css E */


/* Carousel css  S */

.yuko-docs #yuko-carousel-container {
    width: 100%;
    height: 100%;
    background: lightblue url('../images/saekano.png') no-repeat 50% 50% fixed;
    background-size: 60%;
}

.yuko-docs #yuko-carousel {
    position: relative;
    z-index: 0;
    width: 100%;
    height: calc(100% - 56px);
}

.yuko-docs #yuko-carousel-title {
    width: 100%;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
}

.yuko-docs #yuko-carousel-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.yuko-docs #yuko-carousel-list > ul {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.yuko-docs #yuko-carousel-list > span {
    position: absolute;
    z-index: 20;
    display: block;
    width: 10%;
    height: 100%;
    opacity: .8;
    
    cursor: pointer;
}

.yuko-docs #yuko-carousel-pre {
    left: 24px;
    
}

.yuko-docs #yuko-carousel-next {
    right: 24px;
    
}

.yuko-docs .yuko-carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain !important;
    transition: .5s cubic-bezier(.17, .67, .83, .67);
}

.yuko-docs .carousel-item-focus {
    z-index: 19;
}

.yuko-docs .yuko-carousel-item:nth-child(1) {
    z-index: 19;
    background: pink url('../images/chara_eriri_vsl.png') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.yuko-docs .yuko-carousel-item:nth-child(2) {
    background: lightblue url('../images/chara_megumi_vsl.png') no-repeat 50% 50%;
    z-index: 18;
    width: 80%;
    height: 80%;
    top: 10%;
    left: -12.5%;
}

.yuko-docs .yuko-carousel-item:nth-child(3) {
    background: lightcoral url('../images/chara_utaha_vsl.png') no-repeat 50% 50%;
    z-index: 17;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 12.5%;
}

.yuko-docs .yuko-carousel-item:nth-child(4) {
    background: lightgrey url('../images/chara_michiru_vsl.png') no-repeat 50% 50%;
    z-index: 15;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 27.5%
}

.yuko-docs .yuko-carousel-item:nth-child(5) {
    background: lightgreen url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 32.5%;
}

.yuko-docs .yuko-carousel-item:nth-child(6) {
    background: lightseagreen url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

.yuko-docs .yuko-carousel-item:nth-child(7) {
    background: lightyellow url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

.yuko-docs .yuko-carousel-item:nth-child(8) {
    background: lightsalmon url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

.yuko-docs .yuko-carousel-item:nth-child(9) {
    background: lightskyblue url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

.yuko-docs .yuko-carousel-item:nth-child(10) {
    background: lightslategray url('../images/chara_izumi_vsl.png') no-repeat 50% 50%;
    z-index: 16;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}


/* Carousel css  E */


/* Carousel_v2 css  S */

.yuko-docs .yuko-carousel-v2-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.yuko-docs .yuko-carousel-v2 {
    width: 700%;
    margin-left: 0%;
    transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
}

.yuko-docs .yuko-carousel-v2-pre, .yuko-docs .yuko-carousel-v2-next {
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    display: block;
    cursor: pointer;
    content: '';
    display: none;
}

.yuko-docs .yuko-carousel-v2-pre {
    left: 0;
}

.yuko-docs .yuko-carousel-v2-next {
    right: 0;
}

.yuko-docs .yuko-carousel-v2 > li {
    width: calc(100% / 7);
    float: left;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-pre:hover {
    background: url(../../Carousel_v2.0/images/ic_navigate_before_white_48dp.png) no-repeat center;
    background-size: 80%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-next:hover {
    background: url(../../Carousel_v2.0/images/ic_navigate_next_white_48dp.png) no-repeat center;
    background-size: 80%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_a {
    background: url(../../Carousel_v2.0/images/Kara.no.Kyoukai.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_b {
    background: url(../../Carousel_v2.0/images/yukong.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_c {
    background: url(../../Carousel_v2.0/images/fate.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_d {
    background: url(../../Carousel_v2.0/images/AngelBeats.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_e {
    background: url(../../Carousel_v2.0/images/yande.re.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_f {
    background: url(../../Carousel_v2.0/images/san.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-item_g {
    background: url(../../Carousel_v2.0/images/youkuri.jpg) no-repeat;
    background-size: 100%;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-bar {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.yuko-docs .yuko-docs .yuko-carousel-v2-bar > li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    height: 6px;
    padding: 9px 0;
    margin: 0 2px;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-bar > li > a {
    display: block;
    width: 10px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

.yuko-docs .yuko-docs .yuko-carousel-v2-bar > li.on a, .yuko-docs .yuko-docs .yuko-carousel-v2-bar > li.on:hover a {
    width: 30px;
    background-color: #2196F3;
}


/* Carousel_v2 css  E */

/* Scalable Container S */

.yuko-scalable-open, .yuko-scalable-page, .yuko-scalable-container {
    position: absolute;
}

.yuko-scalable-container {
    position: fixed;
    z-index: 4;
    border-radius: 100%;
    overflow: hidden;
    opacity: 0;
}
/* Scalable Container E */

/* Effect S */

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    background: rgba(0, 0, 0, .15);
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
}

.ripple.show {
    animation: ripple .3s ease-out;
}


/* Effect E */